<div class="center">
  <div class="pic">
    <img src="http://www.allthingsclipart.com/05/amusement.park.05.jpg" height="250">
  </div>

  <div class="info">
    <p><strong>Name:</strong> <%= @attraction.name %></p>
    <p><strong>Total Number of Users:</strong> 89</p>
    <p><strong>Ticket Requirement:</strong> <%= @attraction.tickets %></p>
    <p><strong>Height Requirement:</strong> <%= @attraction.min_height %> inches</p>
    <p><strong>Nausea Rating:</strong> <%= @attraction.nausea_rating %></p>
    <p><strong>Happiness Rating:</strong> <%= @attraction.happiness_rating %></p>

    <% if is_admin? %>
      <%= link_to "Edit Attraction", edit_attraction_path %><br>
    <% else %>
      <%= form_for(@ride, {url: new_ride_path}) do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :attraction_id, value: @attraction.id %>
        <%= f.submit "Go on this ride" %>
      <% end %>
    <% end %>

    <%= link_to "Back", attractions_path %>
  </div>
</div>